{% extends "client/layout_client.html" %}
{% block body %}
    <div class="container">
        <div class="row align-self-right">
        {% include('client/boutique/_panier.html') %}
            <div class="col">
              <h3>Les filtres</h3>
              Articles dont le nom est composé par :<br>
                 {% include('client/boutique/_filtre.html') %}
            </div>
        </div>

        <div class="bg-light p-3">
            <h1>Les Parfums</h1>
        </div>

        <div class="row">
            {% for parfum in parfums %}
                <div class="card col-4 mt-4 p-1">
                    <div class="card-body border-dark rounded p-1">
                        <a href="/client/article/details?id_parfum={{ parfum.id_parfum }}" >
                            <h3 class="card-title">
                                <span style="color: #0b2e13">{{ parfum.nom_parfum }}</span><br>
                                {{ parfum.prix_parfum }} €
                            </h3>
                            {% if parfum.image is not none %}
                                <img class="card-img-top rounded mx-auto d-block"  style="width:300px;height:300px"
                                     src="{{ url_for('static', filename='images/' + parfum.image) }}" alt="image de {{ parfum.nom_parfum }}" >
                            {% else %}
                                <img class="card-img-top rounded mx-auto d-block"
                                     src="{{ url_for('static', filename='images/no_photo.jpeg')}}"  alt="image de {{ parfum.nom_parfum }}" >
                            {% endif %}
                            <hr>
                        </a>
                        <div class="row">
                            {% if parfum.stock is defined and parfum.stock is not none %}
                                {% if parfum.stock > 0 %}
                                    <form  action="/client/panier/add"  method="post" class="col-5">
                                        <input type="hidden" name="id_parfum" value="{{ parfum.id_parfum }}">
                                        <div class="input-group">
                                            <button class="btn  btn-success"  id="button-addon1">
                                                <i class="fas fa-shopping-cart">Ajouter</i>
                                            </button>
                                            <input type="number" id="input-{{ parfum.id_parfum }}" step="1" min="0" max="{{ parfum.stock }}"
                                                   class="form-control" value="1" name="quantite"  aria-describedby="button-addon1">
                                        </div>
                                    </form>
                                {% endif %}
                            {% endif %}
                            <div class="col-2 align-content-end">
                                <!-- Vos actions ici, par exemple, ajout à la liste d'envies -->
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        {% if parfum.stock is defined and parfum.stock is not none %}
                            {% if parfum.stock > 0 %}
                                <small class="text-muted">Stock restant : {{ parfum.stock }}</small>
                            {% else %}
                                <small class="text-muted">Article momentanément indisponible</small>
                            {% endif %}
                        {% endif %}
                        <!-- Ajoutez d'autres informations spécifiques à votre modèle ici -->
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
